html{
    overflow-x: hidden;
    overflow-y: hidden;
}

.page{
    padding: 20px;
    display: block;
    height: 100vh;
    width: 100vw;
    margin: none;
    background-repeat: no-repeat;
    background-size:var(viewport-height);
}

/* had to learn inheritance for ts */
.page-1_0{ background-image: url("Assets/forest.JPEG"); }
.page-2_1{ background-image: url("Assets/ben-plane.JPEG"); }


body {
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: red;
}

h1, h2{
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    flex: 1 1;
}

.section{
    display: block;
    margin-right: 3%;
}

.button{
    background-color: rgba(255, 255, 255, 0.726);
    display: block;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    flex: 1 1;
}

.next-button{
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    width: 40%;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
}